.cover {
  position: relative;
  margin: 92px auto 0;
  color: #000;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
    max-width: 768px;
  }
}